body {
  font-family: Helvetica, Arial, sans-serif;
  cursor:url(cursor2.png),url(cursor.gif),auto;
  background-position: fixed;
  background: -webkit-linear-gradient(#BA54AE, #826741); /* For Safari 5.1 to 6.0 */
  background-size: cover;
  background-repeat: no-repeat;
}

#page {
  margin: 0 auto; /* This centers the #page div horizontally */
  width: 600px;
}

#page nav {
  margin: 20px 0;
}

#page nav ul {
  list-style: none; /* This gets rid of the left-hand-side dots */
  margin: 0;
  padding: 0;
}

#page nav li {
  display: inline-block; /* This makes the list display left-to-right rather than top-to-bottom */
  margin-right: 10px;
}

#post-form textarea {
  width: 100%;
  min-height: 50px;
}

#content {
  font
}
#logo {
width:600px;
}
a {
  color:#C2A584;
  text-shadow:1px 1px 1px #573F25;
}
form {
  display:inline;
}
p.posthead {
  color:#574027;
  text-decoration:bold;
  text-shadow:1px 1px 2px black;
}
input.butt {
  font-size: 12px;
color:#7A153F;
background: -webkit-linear-gradient(#BDAE9F, #8A6F54);
border:solid 2px #7A153F;
border-radius:10px;
box-shadow: 3px 3px 2px #423626;
}
textarea.postarea{
  color: #5C4841;
  background-color:#C779BE;
  border:solid 1px #7A153F;
}
p.vote{
  color:#7A153F;
  text-shadow:2px 2px 3px #423626;
  display: inline-block;
  margin-right: 15px;

}
p.usepost{
  color: #45321E;
  border:solid 1px #7A153F;
  background-color:#C779BE;
  border-radius: 6px;
  padding:5px;
  text-align: center;
  box-shadow: 3px 3px 2px #423626;
}




