body {
  font-family: Helvetica, Arial, sans-serif;
  cursor:url(cursor2.png),url(cursor.gif),auto;
  background-position: fixed;
  background: -webkit-linear-gradient(#BA54AE, #826741); /* For Safari 5.1 to 6.0 */
  background-size: cover;
  background-repeat: no-repeat;
}

#page {
  margin: 0 auto; /* This centers the #page div horizontally */
  width: 300px;
}

#page nav {
  margin: 20px 0;
}

#page nav ul {
  list-style: none; /* This gets rid of the left-hand-side dots */
  margin: 0;
  padding: 0;
}

#page nav li {
  display: inline-block; /* This makes the list display left-to-right rather than top-to-bottom */
  margin-right: 10px;
}

#post-form textarea {
  width: 100%;
  min-height: 50px;
}

#content {
  font
}
#logo {
width:300px;
}
a {
  color:#C2A584;
  text-shadow:1px 1px 1px #573F25;
}
form {
  display:inline;
}