<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Read about normalize.css here: http://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/main.css">
  <title>BitPie Studios&trade; Message Board</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="logo64.png" sizes="64x64" type="image/png">
</head>
<body>
  <div id="page">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/todo">What to Work on</a></li>
        <li><a href="http://bitpiestudios.tumblr.com">Tumblr</a></li>
      </ul>
    </nav>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
